<div class="container">
<hr />
{{ printf "%#v" .RegularPages }}
<hr />
{{ printf "%#v" .Permalink }}
<hr />
</div>
<hr />
<div class="container">
    <p>File: {{ .File }}</p>
    <p>Permalink {{ .Permalink }}
    <p>Template: {{ .Type }} </p>
    <p>Kind: {{ .Kind }}</p>
    <p>IsHome?: {{ .IsHome }}</p>
    <p>IsNode: {{ .IsNode }}</p>
    <p>IsPage: {{ .IsPage }}</p>
    <hr>
    <p>IsSection: {{ .IsSection }}</p>
    <p>CurrentSection: {{ .CurrentSection }}</p>
    <p>Parent: {{ .Parent }}</p>
        <li>{{ .Pages }} </li>

    <h3>Images test</h3>


    <img src="{{ .RelPermalink }}" alt="" class="img-fluid pb-3">
</div>

