
<hr />
<div class="container border">
<h3>Debugging</h3>
<hr />
    <p>{{ printf "%#v" .RegularPages }}</p>
<hr />
    <p>{{ printf "%#v" .Permalink }}</p>
    
<hr />
    <p>File: {{ .File }}</p>
    <p>Permalink {{ .Permalink }}
    <p>Template: {{ .Type }} </p>
    <p>Kind: {{ .Kind }}</p>
    
<hr />
    <p>IsHome?: {{ .IsHome }}</p>
    <p>IsNode: {{ .IsNode }}</p>
    <p>IsPage: {{ .IsPage }}</p>
    <hr>
    <p>IsSection: {{ .IsSection }}</p>
    <p>CurrentSection: {{ .CurrentSection }}</p>
    <p>Parent: {{ .Parent }}</p>
        <li>{{ .Pages }} </li>

    <h4>Images test</h4>


    <img src="{{ .RelPermalink }}" alt="Test image" class="img-fluid pb-3">
</div>
<br />
<br />

